.header{
    text-align: center;
    background-color: rgb(104, 33, 170);
    margin: auto;
    padding: 0px 0px 20px 0px;
}
.header>div{
    text-align:center;
    padding-top: 10px;
    font-size: 30px;
}

.footer{
    text-align: center;
    background-color: rgb(177, 109, 240);
    margin-top: 260px;
    padding-bottom: 30px;
}
.footer>p{
    padding-top: 40px;
    text-align: center;
    font-size: 20px;
}
.menu{
    display: flex;
    background: rgb(193, 147, 236);
    text-align: center;
    padding-left: 330px;
    font-size: 20px;
}
.menu>div{
    text-align: center;
	padding:20px;
}

/* todo use pseduo class for body responsive*/
